@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    background-color: #f2ebda;
}

.title {
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    text-align: left;
    color: #46392d;
    font-size: 5vw;
    margin-bottom: 0;
    margin-top: 0;
}

.group9 {
    width: 15%;
    height: auto;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border-radius: 100vw;
    margin-top: 0.5vw;
    margin-left: 0;
    margin-right: 2vw;
    display: block;
    border: 1px black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 1vw;
}

.desc {
    text-align: center;
    font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
    color: #2B2B2B;
    font-weight: 650;
    font-size: 18px;
}

.hobbies {
    display: inline-block;
    text-align: center;
}

.site {
    padding: 2px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}